<html ng-app="App">
    <head>
        <title>Simple Activity Board</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.3/howler.min.js"></script>
        <link rel="shortcut icon" type="image/png" href="../data/icons/education.png"/>

        <style> 
            body {
                padding: 5;
                text-align: center;
            }

            .ActivityBoard {
                text-align: center;
                width:100%;

            }
            .Activity {
            }
            .ActivityIcon {
                width:160px;
                height:160px;
            }
            .ActivityLabel {
                text-align: center;
                font-size:larger;
            }
            .ActivityControls {
            }

            .ActivityControls Span:hover{
                cursor: pointer;
            }

            .ActivitySummary {
                text-align: center;
                width:100%;
            }

            .Footer{}


        </style>
    </head>
    <body ng-controller="Controller">
        <table class="ActivityBoard">
            <tr ng-repeat="activityRow in activities">
                <td class="Activity" ng-repeat="activity in activityRow">
                    <img class="ActivityIcon" ng-src="../data/icons/{{activity.icon}}"/>
                    <div class="ActivityLabel">{{activity.label}}</div>
                    <div class="ActivityControls">
                        <span ng-show="canStart(activity)" ng-click="startActivity(activity)">Start</span>
                        <span ng-show="canPause(activity)" ng-click="pauseActivity(activity)">Pause</span>
                        <span ng-show="canResume(activity)" ng-click="resumeActivity(activity)">Resume</span>
                        <span ng-show="canStop(activity)" ng-click="stopActivity(activity)">Stop</span>
                    </div>
                    <div>
                        {{totalDuration(activity)}} seconds today
                    </div>
                </td>
            </tr>
        </table>
        <table class="ActivitySummary">
            <tr>
                <td>
                    <h3>Current Activity</h3>
                    <div ng-show="currentActivity">
                        <div>{{currentActivity.label}}
                            <span ng-show="canResume(currentActivity)">(Paused)</span>
                        </div>
                        <div>Current Session: {{duration(currentActivity)}}  seconds</div>
                        <div>Total today: {{totalDuration(currentActivity)}} seconds</div>
                        <div>Today had: {{currentActivity.numSessions}} sessions</div>
                    </div>
                    <div ng-show="!currentActivity">Nothing active</div>
                </td>
                <td>
                    <h3>Daily Summary</h3>
                    <div>

                    </div>
                </td>
            </tr>
        </table>

        <div class="Footer">
            See <a href="https://github.com/insequor/activityboard/wiki/What-do-I-use">here</a> for the list of things used from outside this project
        </div>
    </body>
    <script>
        var app = angular.module('App', [
            'App.controllers'
        ]);
        var module = angular.module('App.controllers', []);
        module.controller('Controller', function ($scope, $log, $timeout) {
            function assert(condition, message) {
                if (!condition) {
                    throw message || "Assertion failed";
                }
            }

            function activity(label, icon, limitInSeconds){
                return {
                        label: label, 
                        icon: icon, 
                        limitInSeconds: limitInSeconds,
                        active: false,
                        activeDuration: 0,
                        duration: 0,
                        totalDuration: 0,
                        numSessions: 0,
                        lastStarted: undefined,
                        alarm: undefined
                    };
            }

            function playAlarm(activity){
                if(!activity || !activity.limitInSeconds || activity.alarm)
                    return;
                
                const limit = activity.limitInSeconds;
                const duration = $scope.duration(activity);
                if(duration < limit)
                    return;

                activity.playingAlarm = true;
                $log.log('playing alarm');
                const soundFile = '../data/sounds/alarm-clock-short.wav'
                activity.alarm = new Howl({
                    src: [soundFile],
                    autoplay: true,
                    loop: false,
                    volume: 0.5,
                    onend: function() {
                        $log.log('Alarm play Finished!');
                        activity.alarm = undefined;
                        }
                    });

                //sound.play();
            }
            
            $scope.activities = [
                    [
                        activity('Painting', "art-deco.png"),
                        activity('Reading', "book.png"),
                        activity('Chess', "chess.png"),
                        activity('Cleaning', "cleaning.png")
                    ],
                    [
                        activity('Cooking', "cooking.png"),
                        activity('Exercise', "exercise.png"),
                        activity('Gardening', "gardening.png"),
                        activity('Study', "graphic-design.png")
                    ],
                    [
                        activity('Movie', "movie.png", 90.0 * 60.0),
                        activity('Writing', "pencil.png"),
                        activity('Space Mission', "rocket.png"),
                        activity('E-play', "wii.png", 30.0 * 60.0)
                    ]
                ];
            $scope.currentActivity = undefined;

            $scope.canStart = function(activity){
                return activity && $scope.currentActivity != activity;
            }

            $scope.canPause = function(activity){
                if($scope.currentActivity != activity)
                    return false;
                return activity && activity.active;
            }

            $scope.canResume = function(activity){
                if($scope.currentActivity != activity)
                    return false;
                return activity && !activity.active;
            }

            $scope.canStop = function(activity){
                return activity && $scope.currentActivity == activity;
            }

            $scope.startActivity = function(activity){
                assert(activity != $scope.currentActivity);
                if($scope.currentActivity)
                    $scope.stopActivity($scope.currentActivity);
                $scope.currentActivity = activity;
                activity.active = true;
                activity.numSessions ++;
                activity.lastStarted = new Date();
                update();
            }

            $scope.pauseActivity = function(activity){
                assert(activity == $scope.currentActivity);
                activity.active = false;
                activity.duration += activity.activeDuration;
                activity.lastStarted = undefined;
                activity.activeDuration = 0;
            }

            $scope.resumeActivity = function(activity){
                assert(activity == $scope.currentActivity);
                activity.active = true;
                activity.lastStarted = new Date();
                update();
            }

            $scope.stopActivity = function(activity){
                assert(activity == $scope.currentActivity);
                $scope.pauseActivity(activity);
                activity.totalDuration += activity.duration;
                activity.duration = 0;
                if(activity.alarm) {
                    activity.alarm.stop();
                    activity.alarm = undefined;
                }
                $scope.currentActivity = undefined;
            }

            $scope.totalDuration = function(activity){
                if(!activity)
                    return 0;
                return activity.totalDuration + activity.duration + activity.activeDuration;
            }

            $scope.duration = function(activity){
                if(!activity)
                    return 0;
                return activity.duration + activity.activeDuration;
            }

            function update() {
                if($scope.currentActivity && $scope.currentActivity.active) {
                    time = new Date();
                    $scope.currentActivity.activeDuration = Math.round((time - $scope.currentActivity.lastStarted) / 1000.0);
                    playAlarm($scope.currentActivity);
                    $timeout(function () {
                        update();
                    }, 1000);
                }
            }
        });





    </script>
</html>